{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}

        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }}</h1>
        {% else %}
            <h1>Rango says... hello world!</h1>
        {% endif %}

		{% if categories %}
		
			<h1>Top Categories</h1>
			<ul>
				{% for category in categories %}
					<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul></br>
	
			<h3>Top Pages</h3>
			<ul>
				{% for page in top_pages %}
					<li><a href='{{ page.url }}'>{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
		 <strong>There are no categories.</strong><br />
		{% endif %}

		<img src="{% static "images/game.jpg" %}" alt="a game?" />
{% endblock %}
